[Unit]
Description=coin-tracker

[Service]
WorkingDirectory=/root/coin-checker
Type=simple
ExecStart="/usr/bin/python3" "/root/coin-checker/main.py"
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
